[2015-02-18 18:30] emhart opened #1 "Add collaborators to repo"
Add everyone to the repo

[2015-02-18 18:31] emhart opened #2 "Please update your info on the README"
Please add your affiliation, twitter handle and website to the readme

[2015-02-18 18:33] emhart opened #3 "References"
Here are some references for us.

## Original context of the e-mail.

Hi,

In case you missed it, Daisie Huang wrote a very insightful article
about the differences between scientific coding and software engineering
for the Software Sustainability Institute's blog at
http://www.software.ac.uk/blog/2015-02-06-scientific-coding-and-software-engineering-whats-difference.
I think short pieces like thi

[2015-02-20 00:42] emhart opened #7 "Proposed Workflow"
Hi Everyone,

Wanted to use this issue to talk about a workflow.  My current thinking is that we can just open each idea as for a proposed rule and discuss and debate it in the body of the issue.  Proposed issues can be labeled as such (I've created this label) and then as we come to agreement, the label will be changed to accepted and rejected rules will be closed.

Once a set of rules is agreed

[2015-02-20 00:50] jhollist commented on #7
@emhart and everyone,

That sounds good to me.  I too like having the ground rules set.

How will we be writing this up?  Markdown, latex, ... ?  I suppose this isn't workflow necessarily, but somewhat related.

[2015-02-20 00:53] karawoo commented on #7
The workflow sounds good to me. :+1:

I vote for writing in markdown.

[2015-02-20 00:54] karawoo commented on #3
Related but distinct: [Ten Simple Rules for the Care and Feeding of Scientific Data](http://journals.plos.org/ploscollections/article?id=10.1371/journal.pcbi.1003542)

[2015-02-20 00:57] jhollist commented on #7
I second your markdown vote, @karawoo

[2015-02-20 01:56] fmichonneau commented on #7
:+1: for the workflow and markdown.

[2015-02-20 01:57] fmichonneau opened #9 "Datasets should be citable and uniquely identifiable"

[2015-02-20 03:00] dlebauer commented on #7
Good approach, additions:
- I expect that many of the "rejected" rules may be rejected because of generality rather than that they are not good ideas - so it might be useful to transfer some of the content to a related rule at time of rejection.
- For a given rule, as the scope of the rule gets refined, and good ideas identified, update / ammend the rule in the original post. The goal would be for

[2015-02-20 04:35] naupaka commented on #7
+1 to md and issues

[2015-02-20 05:40] karawoo opened #10 "Keep backups of data in multiple locations"
This applies to data at multiple stages of sharing/publishing and encompasses a spectrum from backing up files on your laptop to choosing data repositories that will keep copies of your data in different places.

[2015-02-20 05:51] emhart opened #11 "Data sets should link to or include relevant metadata"
Data should never be alone!  Storing data includes storing metadata as well, with links between them.

[2015-02-20 07:29] dlebauer opened #12 "store data in common open format"
An important one from [DataOne](https://www.dataone.org/best-practices/document-and-store-data-using-stable-file-formats).
I found this in a [list of storage-tagged rules from DataOne](https://www.dataone.org/best-practices/storage) thinking "there must be a list of rules there". Indeed, there is, but they are all too technical for a list of "Simple Rules". Thus, the list from above could simplifi

[2015-02-20 07:37] dlebauer commented on #9
... how about 'should be both easy to find and uniquely identifiable?'

note that 'doi' is one of many ways of permanently identifying a digital object. Is the intent to specify doi?

[2015-02-20 10:10] drj11 commented on #1
Can I kibbitz please?

[2015-02-20 12:12] jhollist commented on #12
+1 for this, although I'd simplify rule to, "store data in common open format"

(done, changed from "Store data in ASCI, preferably csv, or other common open formats") - DSL

[2015-02-20 12:40] fmichonneau opened #14 "Release data using a license that encourage and facilitate reuse, preferrably CC0"

[2015-02-20 12:44] fmichonneau commented on #9
It seems that the "easy to find part" is a different issue that goes with where the data should be deposited. I will open an other rule for this one.

[2015-02-20 12:48] fmichonneau opened #15 "Datasets should be easy to discover"
This seems to go under the umbrella "choose where you deposit your data wisely" so that it's backed up safely (#10), it get assigned a unique identifier (#9) and stores/link to metadata (#11).

[2015-02-20 14:18] tpoisot opened #16 "Data should be stored differently at different steps of the process"
Basically, the format for long-term archival is not the same format that is needed for day-to-day analysis. I'd say that in the opposite direction, actually: don't archive your data in the format that makes sense for you in your day-to-day use.

[2015-02-20 14:20] tpoisot commented on #12
I support that strongly.

[2015-02-20 14:21] tpoisot commented on #7
:+1: for markdown, :+1: for issues

[2015-02-20 15:06] jhollist commented on #16
:+1:  I was going to to add something similar, but you beat me to it @tpoisot !

This general idea is captured in the discussion in https://github.com/swcarpentry/site/issues/797.  Another tangent to this is the idea that not all data are created equal wrt accessibility (i.e. Personally Identifiable Information, Conf. Business Info, etc.)  I don't personally work with this type of data so someone

[2015-02-20 15:09] stephenturner opened #17 "introduction/scope: storage vs publication"
Both here and on the [original SWC issue](https://github.com/swcarpentry/site/issues/797) I sense that we're conflating issues of data storage versus data publication. If your entire career's data is the size of [iris](http://stat.ethz.ch/R-manual/R-devel/library/datasets/html/iris.html), the distinction between the two is less. You can keep local copies in multiple locations trivially, while havi

[2015-02-20 15:32] PBarmby commented on #17
Seems to me that the "10 Simple Rules" paper linked by @karawoo in #3 covers a lot of the publication or near-publication issues. (Those folks are mostly astronomers for whom privacy/patents/etc are not important.) Suggests that storage should be the focus here?

[2015-02-20 15:37] PBarmby opened #19 "Storage location should consider expected analysis"
In many cases fast access between disk and compute server is needed, so that I/O doesn't bog down the entire process.

[2015-02-20 15:47] karawoo commented on #12
:+1:

[2015-02-20 15:59] naupaka opened #20 "Keep the raw data raw"
The raw data should be kept raw and archived immediately. This is the data which shall not be overwritten or modified. This is the data others will want, and against which your choice of subsequent analyses will be judged.

[2015-02-20 16:05] naupaka commented on #10
**Corollary 1:** All hard drives will fail, usually when you need them most. Especially spinning platters. Especially spinning platters in laptops.
**Corollary 2:** The cloud is not failsafe; data can disappear there too (see e.g. [the sad case of Dedoose and Microsoft Azure](https://www.insidehighered.com/news/2014/05/16/dedoose-crash-shows-dangers-handing-data-cloud-services)).

[2015-02-20 16:24] PBarmby commented on #20
I wouldn't argue with this as a general principle; there are however cases (eg radio astronomy) where the data rate is so large that keeping the raw data is not considered feasible.

[2015-02-20 16:31] PBarmby commented on #3
Also in the astronomy theme, [Reimplementing the Hierarchical Data System using HDF5](http://arxiv.org/abs/1502.04029v1) has some interesting comments on using different formats for processing, strage, and transport. I can translate jargon if necessary..

[2015-02-20 16:32] PBarmby commented on #16
See also  the second ref in #3 for some comments re: different formats for different usage.

[2015-02-20 16:33] dlebauer commented on #20
more generally, the definition of 'raw' is not always clear - rarely is the 'raw' voltage differential (on which many sensors are based) recorded.

As a more concrete example of defining raw: an infrared gas analyzer will measure absorption at a particular wavelength, but has been calibrated to report (e.g.) atmospheric concentration of CO2. Is the %absorption 'raw' or the %CO2. In the case of a r

[2015-02-20 16:38] dlebauer commented on #10
Sounds like a theory without mechanism. I can imagine 'when you need them
most' == 'when you are pushing them the hardest' ... or 'when you need them
most' == 'makes a memorable story"

Is there any evidence or is this just a precautionary saying?

On Fri, Feb 20, 2015 at 10:05 AM, Naupaka Zimmerman <
notifications@github.com> wrote:

[2015-02-20 16:40] emhart opened #21 "Collaborator status"
I believe I've given collaborator access to everyone, so you all should be able to push to the repo now if you want to make changes to the README, or when we're writing.

[2015-02-20 16:58] naupaka commented on #10
More of a precautionary saying - in line with never trusting that your hardware won't fail. It is true though (at least in my repeated experience) that blocks on a drive that are not used regularly will go bad and not get marked as such, and then when you start using the drive actively again, and add additional data or move things around, data will get corrupted. I've done randomized read time tri

[2015-02-20 18:09] lindenb opened #22 "Metadata describing data should use an ontology"
I'd like to cite the work of semantic-web people : they have built ontologies describing data. For example

__EDAM__ :  *"EDAM: an ontology of bioinformatics operations, types of data and identifiers, topics and formats."* http://www.ncbi.nlm.nih.gov/pubmed/23479348

A dataset using a RDF description would be discoverable by robots.
In  the best of all possible worlds articles and dataset would us

[2015-02-20 18:13] tpoisot commented on #21
I'd encourage people to push to their own branches rather than on master, though.

[2015-02-20 18:20] dlebauer commented on #21
@tpoisot do you mean "push to their own forks at `username/repo`" or "create a new branch in the emhart repository"

presumably followed by a pull request? (in practice, these important part seems to be using pull requests rather than pushing to master). Exceptions for trivial changes?

[2015-02-20 22:12] emhart commented on #9
So I take it that by this you mean if a data set is stored across multiple repositories it has a unique ID.  Which begs the question, with a DOI, what is identified (Not that you're saying we should use DOI, but that's what most people will fall back to)?  The location + the data set, or just the data set regardless of location?

[2015-02-20 22:15] dlebauer commented on #9
doi points to data set regardless of location. If the resource is moved, the location that the doi redirects to is updated (this isn't automated nor recommended).

[2015-02-20 22:15] emhart commented on #10
So this relates in some ways to the notion of "uniquely identifiable" in #9 .  Is uniquely identified just a specific version of the data, or is a pointer to both data and location?

Also, if you deposit your data and that repository is backed-up, do you trust that back-up?  Or do you maintain both a repository version and your own backed up version?

[2015-02-20 22:17] emhart commented on #12
:+1: I'm not sure that we should suggest how to code NULL values though, as that doesn't seem like it explicitly relates to storage of data.

[2015-02-20 22:22] emhart commented on #21
With collaborator access you can also merge PR's so you can merge your own branches and PR's.  I agree once we actually get to writing, we should decide on a workflow (branches or otherwise).

[2015-02-20 22:26] emhart commented on #9
To clarify my question I guess I'm saying, what if you have a data-set stored in multiple places?  Do you identify each instance? Let's say I post data on Figshare and Dryad, do I give each one a unique identifier because it's the same data in different locations?

I don't mean to belabor a pedantic point, but I think it's important that we specify things like "data should be stored in just one pu

[2015-02-20 22:26] karawoo commented on #12
I agree, @emhart, I think that point and similar ones are well covered in [Nine simple ways to make it easier to (re)use your data](http://library.queensu.ca/ojs/index.php/IEE/article/view/4608/4898).

[2015-02-20 22:28] emhart commented on #9
One more note on this topic is that it might be too close to Rule 2 in http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1003542

[2015-02-20 22:39] emhart commented on #20
NEON handles this with a schema for various "levels" of data products that pertain to the amount of processing that happens, here's a brief overview: http://www.neoninc.org/science-design/data-processing

We defined raw data as things like voltage, or unprocessed lidar returns.  The issue of course is that this is a tremendous amount of data that NEON still hasn't quite figured out how to share an

[2015-02-20 22:57] wcornwell commented on #9
An additional discussion point: seems like one thing that is happening more and more is living datasets that _should_ keep growing after publication (or being assembled into more and more comprehensive databases).  So it seems like we should give some guidance about dataset versioning, but not sure what the right rule for this is.  Any ideas?

[2015-02-24 06:04] emhart opened #24 "Basic Timeline"
Hi All,

I wanted to propose a timeline for generating ideas.

* *March 16* - All proposed rules submitted and discussed
* *March 23* - Final 10 rules decided, authors assigned to topics
* *April 13* - Rough draft of rules submitted to repo

I'm just sort of putting this out there for us all, but personally I find it useful to have a time line (to break) to help me prioritize all the other things

[2015-02-24 06:09] emhart commented on #16
@tpoisot Could you share a use case here? Are you thinking that it might be archived as plain text but you'd want to access it in a SQL database?

[2015-02-24 06:15] emhart commented on #17
@stephenturner I agree with you completely.  It's difficult to tease apart rules for storing data and rules for publishing data. I think it's important that we don't just cast issues like metadata and discoverability aside, **but** this is the space to consider issues like size, privacy, etc, and give them much greater prominence.

[2015-02-24 06:20] emhart opened #25 "Consider the size of your data"
Data size matters.  As @stephenturner points out there's a vast difference between data created by NEON and a data set you might archive on Figshare from your PhD (if you're an ecologist anyway).  How you store your data has to take these size considerations.  It will determine where you archive your data, how it's backed-up and how it's shared.

[2015-02-24 06:23] emhart opened #26 "Consider privacy concerns."
How can you store data that has private information?  Is it with anonymized via a hash that can't be worked backwards? Do you maintain that hash and encrypt it?  I'm not really equipped to answer this question since I don't deal with human subject data, but maybe someone else could chime in.

[2015-02-24 06:26] dlebauer commented on #26
Is it necessary to distinguish data you don't want others to see from data you don't want others to use?

[2015-02-24 06:28] dlebauer commented on #25
lemma 1: storage costs and transfer / compute time are trivial if data is small, but can add up if data is large. At some size, it is not practical to store data - there are trade offs among cost, information content, and accessibility.

[2015-02-24 06:31] emhart commented on #19
I think this is somewhat related to size considerations in #25.  Are you thinking about this in terms of sharing data with other people, or sharing it in your lab?  If it's the latter, are you thinking about database choice?

[2015-02-24 06:39] emhart commented on #26
I was just thinking about that.  If we're thinking about storage best practices locally, then encryption may be important.  Obviously if the data is meant to be shared then there are other things to worry about.  It seems there's three scenarios with privacy concerns.
1. You want to share data with collaborators that is private, what are encryption best practices?
2. You want to share data publicl

[2015-02-24 09:22] snim2 commented on #7
This sounds like an excellent idea to me. +1

[2015-02-24 09:42] snim2 commented on #10
There is an interesting link between this Issue and #9 - if a dataset can be uniquely identified, e.g. via a DOI, is that sufficient, or does there need to be a way to verify that the dataset contains exactly the data that the author deposited? e.g. should there be an `md5` hash that goes with the data that can be used to verify its origin?

[2015-02-24 09:53] snim2 opened #27 "Semantic versioning for datasets"
This is related to Issues #9, #10 and #11.

Datasets may well evolve over time. When reading a paper which describes an experiment on a particular dataset it should be possible to find out which *version* of the dataset was used to produce the documented results. This aids reproducibility.

[Semantic versioning](http://semver.org/) is a common technique in software development. The idea is to prov

[2015-02-24 09:55] snim2 commented on #21
I think most GitHub workflows encourage peer review, in the sense that if one person proposes a PR then they would not normally merge their own PR but have it reviewed by others first. This seems like a good practice to me.

[2015-02-24 10:03] snim2 commented on #26
As it happens I'm working with a dataset now which contains personal data. Without going into irrelevant details, the dataset spans a number of years, and some people (but not all) will reappear several times in the set, relating to different years.

It is appropriate to obfuscate the personal information in some way, but in my case I also need to think about whether I need to be able to identify

[2015-02-24 10:08] snim2 commented on #12
This also relates to #20 and possibly #11.

I live and work quite close an area which is governed (sort of!) by the largest City Council in Europe. There has been a push in the last few years to get this Council to open up its data. Both data about its budget and democratic process, and also data that is more relevant here - for example data about pollution and the environment, or waste management

[2015-02-24 10:12] snim2 commented on #22
This is really interesting. May I ask how you would expect this to be used? The Semantic Web people would expect their ontologies to be used by automated tools which might "discover" and use the data in some way -- perhaps by formatting it appropriately, returning it in search queries, combining it with other data, etc.

In terms of reproducible science I'm not sure how useful that is, but certain

[2015-02-24 10:15] snim2 commented on #24
+1

[2015-02-24 11:26] lindenb commented on #22
@snim2  I was looking for a example of project using EDAM , I asked for it via twitter:

https://twitter.com/yokofakun/status/570165703959052288

I received a direct mail via 'jison' (EBI) . I copy his mail below:

people can register new resources from https://elixir-registry.cbs.dtu.dk/#/signup

![elixir](https://pbs.twimg.com/media/B-m269XXIAAeH7V.jpg:large)

so, from this example, don't have t

[2015-02-24 14:30] PBarmby commented on #22
Maybe this is not an issue for readers of PLOS Comp Bio, but  I had never heard the term "ontology" before and am still having trouble getting my head around what it means. Some unpacking might be needed.

[2015-02-24 14:32] PBarmby commented on #19
Agreed it's related to size considerations. I wasn't really thinking about this in terms of sharing, more in terms of "I have this big dataset and now I need to do some big computation with it" in which case you often want the disk with the data to be close to the machine doing the computation.

[2015-02-24 14:34] snim2 commented on #22
Hi @lindenb - that's very interesting, I found a nice paper on Elixir here: http://www.sciencedirect.com/science/article/pii/S0167779912000170 and it seems as if these systems are going after automated tools. Pages 13-15 here: http://www.infosys.com/infosys-labs/publications/Documents/SETLabs-briefings-healthcare-delivery.pdf#page=15 suggest some possible applications (drug discovery and developme

[2015-02-24 14:37] PBarmby commented on #27
Interesting idea. This might seem like a bit too much trouble to many people; I wonder if we can come up with an "at a minimum" recommendation, as in the [10 Simple Rules for Reproducible Computation](http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1003285) article. Actually, that would be a good thing for many of our proposed rules!

[2015-02-24 14:42] lindenb commented on #22
@PBarmby see an ontology as a controlled vocabulary to describe things . Just like GeneOntology (GO):  You wouldn't write "Gene X is involved in cardiac chamber morphogenesis" or "Gene X as a role in the morphogenesis of the heart" because it would be  hell to retrieve the semantics of information . Instead of this people are using (or should use)  GO: "Gene X: GO:0003206" http://www.ebi.ac.uk/Qui

[2015-02-24 14:44] snim2 commented on #22
Just to add to that, the really big deal about ontologies is that they are _machine_ readable. Sometimes they aren't so easy for humans to read!

[2015-02-24 14:46] snim2 commented on #27
Good idea.

A poorer way to do this is simply to document the date that the dataset was published and ask people to refer to that. Of course, this assumes you have relatively slow release cycles (i.e. you would not publish and update a dataset in the same day). Also, dates are written differently in different parts of the world. So, date of publication is a start, but it creates its own problems.

[2015-02-24 14:46] lindenb commented on #22
@snim2 my impression is that ontologies are not heavily used :-) Describing the data in Elixir is really nice but I wonder if it's in the scope of your paper; My original idea was about the way to describe the metadata : don't use "This data is a BAM file" , but rather a RDF(?)/N3 file with rdf:type= "http://www.ebi.ac.uk/ontology-lookup/?termId=format%3A2572"

[2015-02-24 15:14] snim2 commented on #22
@lindenb This strikes me as a really good idea, but I can imagine that some people would find it hard to see the benefit. I'll keep looking around for any case studies or use cases that we could use.

[2015-02-24 15:16] lindenb commented on #22
@PBarmby FYI: an astronomic ontology : http://www.astro.umd.edu/~eshaya/astro-onto/classes/galaxy.html

a galaxy is a sub-class of  :  extragalacticObject, rotatingBody,  source

you could ask a semantic database (e.g: http://jena.apache.org/documentation/tdb/ ) : "search all the object with type=rotatingBody and type=extragalacticObject"

[2015-02-24 15:32] emhart commented on #22
I'll just chime in here as someone who used to work with ontologies and
semantics. It's undoubtedly very important to share data with an ontology
and semantics. However many fields are still just developing robust
metadata standards and getting researchers familiar with them(I'll point
the finger at my own field of ecology). I see ontologies and semantics as
further in the future for most research

[2015-02-24 17:12] tpoisot commented on #22
But not all data types / fields have ontologies. I agree this is important, but we should _also_ include a call for people to create them.

[2015-02-24 17:58] lindenb commented on #22
@tpoisot I agree but most data & fields have a super-type (binary data, tabular data, "this-is-about-ecology", linked-to-this-paper)  ( http://bioportal.bioontology.org/, NCBI MESH ... )

Again, I agree that writing a semantic description is difficult and probably useless for now. I don't use it myself. But I would recommend this a best practice rather than a plain text file describing your data (

[2015-02-24 18:08] naupaka commented on #22
For ecology there is the [Ecological Metadata Language](https://knb.ecoinformatics.org/#external//emlparser/docs/index.html) and the [Morpho software](https://knb.ecoinformatics.org/#tools/morpho) to help w/ using it. Not a true ontology, but in the right direction at least.

[2015-02-24 18:15] tpoisot commented on #24
Agreed. I created milestones with dates. We use them in the lab not to miss deadlines, it's pretty efficient.

[2015-02-24 18:17] tpoisot commented on #19
This is also part of what I had in mind with #16 -- raw data go somewhere in the cloud or on a server, and data ready for consumption are in your SSD

[2015-02-24 18:34] emhart commented on #22
Seems like this issue is bleeding into #11 but I think we need to walk a fine line between best practices for storing data vs best practices for publishing data.  In which case I think we should provide guidance about how to best link stored data to metadata, vs saying something like: "Published data sets should have metadata".

I propose we consider merging this with #11 describe how a stored dat

[2015-02-24 19:44] jamesmalone commented on #22
Hi, fwiw I thought I'd offer something :) (I'm James Malone, lead ontologist working at EBI). I would say you don't necessarily need ontologies for this. What I would say is describe your data using agreed semantics where possible. These should be both machine and human readable of course, as someone has already pointed out. There are several examples of reference ontologies such as the Gene Ontol

[2015-02-24 20:34] dlebauer commented on #21
Yep @snim2 +1 that's what I meant by 'the important part is pull request', implying but not clearly stating '...for others to review'

[2015-02-25 09:30] joncison commented on #22
Hi folks

Jon here (lead EDAM dev).   This is just to underline the points of emhart and James (jamesmalone) and to give an insight from the sharp end.

Getting a robust metadata standard - that is practical, flexible and really serves the community - is the first and hard step, e.g. the schema underlying the ELIXIR Tools & Data Services Registry went through something like a dozen community works

[2015-02-25 19:10] arokem commented on #3
Hi everyone! This paper from our group may be of interest here: http://arxiv.org/abs/1502.06900

[2015-02-26 06:51] dfalster commented on #17
I had same thoughts as @stephenturner re scope, is the focus on either storing, publishing or both?

Either way, I think our audience should be ordinary scientists, for whom data set size is usually not an issue (at least in my field). As context, we recently published a data paper (in press at Ecology) with data on plant biomass from over 170 different studies. By disciplinary standards this is a

[2015-02-26 10:18] stephenturner commented on #17
@dfalster I'd be careful judging which scientists are _ordinary_ based on whether they have issues with data size :).

In all seriousness though, I have to disagree with you - I _don't_ think this article should focus on data that's 10MB. Sure, _big_ data is relative, and _big_ often lies in the data complexity, not the size in terms of bytes. But if data is small enough that it can effortlessly m

[2015-02-26 14:33] tpoisot commented on #17
It's not unusual for models to generate outputs in the GB order. I've had one reach the 1TB bar in a few days. This will pose all sorts of issues to store the data, both locally (I don't have a 1TB hard drive on my laptop) and remotely.

I think we should emphasize that even though most data are small (in size), it's going to be increasingly common to deal with large datasets, so we should prepare

[2015-02-26 18:20] karawoo commented on #17
I'd also point out that this paper is going to be submitted to PLOS *Computational Biology*, a field where data >>10 MB is very common (though whether computational biologists can be considered "ordinary" is a separate question :wink:).

[2015-02-26 18:47] jhollist commented on #17
One thing that we don't want to lose here is that a lot of our rules will likely apply equally to the <10MB and >>10MB data.  For instance, lousy (or non-existent) metadata ( #22 and #11)  is a problem for both small and large data sets or if you fail to backup your data ( #10)  it is just as big a loss to you if you lose your entire small or entire large dataset.  In short, I don't think size of

[2015-02-26 18:50] tpoisot commented on #17
@jhollist is right -- why not keep this discussion for the conclusion of the paper?

[2015-02-26 18:52] tpoisot commented on #11
Missed this one, but :+1: of course. I would actually suggest a more general title, data should rely on links to other resources, instead of duplicating them. For example, don't store taxonomic information when you can get it from a NCBI id.

[2015-02-26 18:55] jhollist commented on #3
New from PLOS one that might have some relevance (I have only looked at abstract):
http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0118053

[2015-02-26 20:56] dfalster commented on #17
Thanks for sharing your thoughts! I should have added that I am of course
happy if the article focuses on the challenges of storing larger data sets,
that is indeed more novel, even if potential audience is smaller.

On 27 February 2015 at 05:50, Timothée Poisot notifications@github.com
wrote:

[2015-03-01 22:35] wcornwell commented on #27
I like this idea, especially since the every analysis I've worked on has turned up minor errors in the data, so it would be good to get the software culture of patches to work in the world of data.

One issue that this immediately raises (and maybe this is broader than this issue) is authorship and citation as new versions (potentially with different contributors) emerge.  How does this work in so

[2015-03-01 22:40] snim2 commented on #27
In a software project you would often have additional metadata to store that information. This might come in the form of a [ChangeLog](http://keepachangelog.com/) file (which details changes to each released version of the software, and _may_ include author information) and sometimes an [AUTHOR or CREDITS](https://github.com/torvalds/linux/blob/master/CREDITS) file. More often though, people will

[2015-03-20 09:41] dlebauer commented on #24
@emhart Can you define "submitted and discussed"? Have we completed this? Now we have three days for the final rules?

[2015-03-22 21:52] fmichonneau commented on #3
Blog post from NatureJobs on how to publish a data paper: http://blogs.nature.com/naturejobs/2014/12/04/how-to-publish-your-data-in-a-data-journal

[2015-03-23 05:30] emhart commented on #24
@dlebauer I was hoping that we would have completed our discussion of the rules and begun to finalize them.  I'm going to send out on more request for rules and then try and synthesize them.

[2015-03-23 05:31] emhart opened #29 "final call for rules"
Hi everyone.

By now our hope was that all rules will have been discussed.  Can we take the next couple of days to wrap up any further discussion and I will then synthesize what we've found and we can move on to voting for the rules.

[2015-03-23 10:15] gvwilson commented on #29
http://www.w3.org/TR/2015/WD-dwbp-20150224/#bp-summary has 27 rules -
are our 10 a subset?

[2015-03-23 15:53] tpoisot commented on #24
:+1:

[2015-03-27 03:57] emhart commented on #29
I think some are, it's hard to imagine that you won't have some overlap.

[2015-03-27 04:16] emhart opened #30 "Finalizing rules"
Here's a summary of our discussion so far.  I think this
In no particular order.

1. Store data in an open format (ASCII, HDF5)

2.  Store data in multiple locations (Especially if using a local system)

3. Store data with a linkage to relevant metadata and license files

4. Consider the use case.  Permanent archive?  Regular usage? API? Personal archive? Storing to share?

5. Use semantic version

[2015-03-27 15:34] tpoisot commented on #30
I think a logical way to organize the rule would be for them to follow the usual data analysis workflow. With this approach, rule 1 would be something like "Know what to expect", which would cover both the type and size of the dataset. Then rules 2-10 would be about dealing with the aftermath.

[2015-03-27 15:50] jhollist commented on #30
:+1:

[2015-03-27 21:42] karawoo commented on #30
I like that idea, @tpoisot. Having any kind of conscious plan at all is a big and important first step.

[2015-03-28 00:45] dlebauer commented on #30
Good list and suggestions so far. I think it would be good to discuss the
list here, but keep discussions of individual rules in their own
issues/threads, and authors can self-assign issues (?). Do any need to be
combined or dropped?
On Fri, Mar 27, 2015 at 5:42 PM Kara Woo notifications@github.com wrote:

[2015-03-29 19:52] naupaka commented on #30
One thing that isn't captured here in the list so far (I think) is having data be machine readable (i.e. easily parseable) if possible. ASCII is great but it should also be parseable ASCII (csv, tsv, etc) if possible. Something along the lines of Hadley's tidy data idea.

[2015-03-29 23:51] gvwilson commented on #30
+1

[2015-03-30 00:10] dlebauer commented on #30
Good point Naupaka, could be wrapped in with #11, #12,which is roughly
linked to 1 in this list, and also related to Kara's point about having a
plan.
On Sun, Mar 29, 2015 at 6:51 PM Greg Wilson notifications@github.com
wrote:

[2015-03-30 00:10] tpoisot commented on #30
Yes. We can talk about automated data validation too (like json schemes).

Envoyé depuis mon appareil Samsung

-------- Message d'origine --------
De : Greg Wilson notifications@github.com
Date : 03/29/2015  7:51 PM  (GMT-05:00)
À : emhart/10-simple-rules-data-storage 10-simple-rules-data-storage@noreply.github.com
Cc : Timothée Poisot tim@poisotlab.io
Objet : Re: [10-simple-rules-data-storage] Fi

[2015-03-31 02:41] emhart commented on #30
@naupaka I think this issue touches a bit on the fact that this idea has always walked a fine line between best practices for storing vs best practices for publishing. I think we just need to be careful about highlighting how machine readable formats are important for storage, but otherwise :100:

[2015-03-31 02:43] emhart commented on #30
@dlebauer I agree, we should really hash out specifics within the issues themselves.  I'm going to consolidate all the issues and give them #'s where assignment and further discussion can happen.

[2015-03-31 02:43] #29 closed

[2015-03-31 03:00] emhart opened #31 "#1 Know What to Expect"
A suggestion from @tpoisot in #30. My interpretation is that starting out you need to take stock of your data and that this assessment will guide much of what follows in the rules.  You'll need to think about your use case, the type of data you have, the size of the data, how you're going to serve it up.

[2015-03-31 03:08] emhart opened #32 "#2 Know your use case!"
Researchers should know their use case and store data appropriately.  Is this data collected and just being archived? Will it change regularly? How will those changes be logged (e.g. provenance if any)?   Will this be shared via an API?  Linked to a paper?  What are the institutional restrictions?  Can you use a commercial service like Dropbox or use a personally maintained system?  Knowing the re

[2015-03-31 03:12] emhart opened #33 "#3 Keep raw data raw"
Data should always be kept in a raw format whenever possible.  There's clearly some discussion about what constitutes "raw" (ohms off a temperature sensor?).  However the focus here is really on the spirit of the rule.  Data should be as "pure" as possible when it's stored.  If derivations occur, they should include storage of relevant code and subsequent data sets.

Refs: #20 and #12

[2015-03-31 03:17] emhart opened #34 "#4 Data should be stored in open formats"
All data should be stored in common binary or open formats. Examples are ASCII, NetCDF or HDF5. Furthermore, these formats need to parseable for the foreseeable future.  ASCII should be in a format such as csv, or a documented delimiter, binary formats should probably have some assurances of future support.

Refs #12 and #30

[2015-03-31 03:24] emhart opened #35 "#5 Use semantic versioning and keep data uniquely identifiable"
Data sets need to versioned and identifiable.  Ideally your data will follow a semantic versioning if it's periodically revised.  Each version should have a way to be uniquely identified.  This could be a DOI, PURL, ARK, etc...  Streaming data should also be addressed here.  E.g. if you have data streaming in, what is versioned, what is identified?

Refs:  #9 and #27

[2015-03-31 03:45] emhart opened #36 "#6 Link relevant metadata and license files"
Data should be stored as a complete package.  Therefore any storage solution should include both a license and metadata.  That metadata should ideally be a machine readable format that is the accepted standard in the discipline.  The idea is rather simple though.  These things should always be stored together, and this is especially important for ASCII data (as opposed to self describing binaries

[2015-03-31 03:56] emhart opened #37 "#7 Adopt the proper privacy protocols"
How is data with privacy concerns going to be stored?  Will it simply be encrypted with shared access to a key?  How anonymized is it? Where is the anonymization schema stored?

Ref #26

[2015-03-31 04:10] emhart opened #38 "#8 What is your back-up scheme?"
Data should have back-ups!  These will differ greatly by use case.  If your data is small it could just be back-up hard drives.  If it's large data stored in an institutional repository, what is the back-up system? If it's stored on a commercial service, what do they use?

Ref #10

[2015-03-31 04:11] #9 closed

[2015-03-31 04:11] #10 closed

[2015-03-31 04:11] #11 closed

[2015-03-31 04:11] #12 closed

[2015-03-31 04:11] #14 closed

[2015-03-31 04:11] #15 closed

[2015-03-31 04:11] #16 closed

[2015-03-31 04:11] #19 closed

[2015-03-31 04:11] #20 closed

[2015-03-31 04:11] #22 closed

[2015-03-31 04:11] #25 closed

[2015-03-31 04:11] #26 closed

[2015-03-31 04:11] #27 closed

[2015-03-31 04:17] emhart commented on #30
Ok, I've opened up issues with numbers now based on all the discussion and this thread.  I think we should aim to take about a week to hammer out and people should assign themselves to what they'd like to write.  Also after trying to consolidate our discussion I only came up with 8 issues.  So we have room for two more.  I'll work on coming up with a couple more but please add new ones if you have

[2015-03-31 05:45] dlebauer opened #39 "#9? Put big data where and how you can compute on it rather than moving complete raw datasets around."
Covers proximity / mounting and architecture. Don't hog active space if slow storage is sufficient - scan for untouched files to put in longer term storage.

Don't move it around if you can help it. If you must, use appropriate tools, Store local 'cached' copies (eg use knitr argument) instead of writing scripts that always download archived data. Only do so if there are changes.

Do sub setting s

[2015-04-02 18:39] PBarmby commented on #39
Related: #16, #19, #25

[2015-04-09 03:19] emhart commented on #33
Any interest in taking this one one @naupaka ?  It stems mostly from your suggestion.

[2015-04-09 18:40] naupaka commented on #33
@emhart Sure thing. Is there yet a goal for wordcount/format for each of the topics?

[2015-04-10 04:24] emhart commented on #33
The word count goal is between 150 - and 300 words, give or take.  Ideally it's going to be broken up into 1 or 2 paragraphs.

[2015-04-10 04:28] emhart opened #40 "Introduction"
Write an intro for the submission.  Goal is 1 to 2 paragraphs, approximately 500 words.

[2015-04-10 04:47] emhart commented on #39
Can I assign this paragraph to you @dlebauer I think it's a good issue.

[2015-04-10 05:01] emhart commented on #39
I might also frame this as 'how important is the movement of data'.  This is kind of touched on in #32, but this issue needs more detail.  This might also be another place to talk about data access via an API.

[2015-04-10 05:18] emhart commented on #34
@PBarmby Do you think here is an appropriate place to address database technologies?

[2015-04-10 05:34] dlebauer commented on #39
I'll take it

On Fri, Apr 10, 2015 at 12:01 AM, Edmund Hart notifications@github.com
wrote:

[2015-04-10 05:35] #2 closed

[2015-04-10 05:39] emhart opened #41 "#10 Data should be stored in machine readable formats?"
@naupaka brought this up in #30 and it's also mentioned in http://www.w3.org/TR/2015/WD-dwbp-20150224/#MachineReadableStandardizedFormat

It facilitates reproducibility and enables easier provenance.  It also makes creating API's easier and moving between database system easier.

[2015-04-10 05:39] #1 closed

[2015-04-10 05:40] #21 closed

[2015-04-10 05:49] emhart opened #42 "Writing workflow / timeline"
We now have a draft list of 10 issues.  Let's set a goal of writing them up in 2 weeks, e.g. drafts up in the repository by April 23rd.  Any issues that people don't assign themselves to I'll try and write.  There are still a couple unassigned issues.  So if there's an issue you'd like to take on, please assign yourself.  If the issue is already taken, please volunteer to help in the comments.  Mo

[2015-04-10 06:06] dlebauer commented on #34
Is 'binary vs open' an appropriate dichotomy? Aren't HDF5, NetCDF, and .Rdata all both open and binary?

To clarify - is there a principled definition of 'database' here that will distinguish it from alternative methods of data storage? For example, ANSI SQL - compliant RDBMS would probably cover most of what people know to be databases. On the other hand, a 'database' is a generic term for a plac

[2015-04-10 13:42] PBarmby commented on #34
My understanding is that people usually use "binary" to distinguish from "human-readable", yes?
What we're after is the idea tostore data in a format that does not requre proprietary software to access, I think -- so either binary (eg HDF5) or human-readable (csv) would be "open", as would
some but not all forms of database file storage formats.

I was going to say to @emhart that "not everybody s

[2015-04-10 13:46] snim2 commented on #34
@PBarmby +1

[2015-04-10 13:49] snim2 commented on #42
I notice that your makfile autogenerates LaTeX and PDF from the Markdown source. This is really neat! Is there any particular reason for having the generated files (.tex, .aux, .out, .dvi, .pdf, .lg, .out) committed to the repository? This confused me at first, and it has the potential for the generated files to get out of sync with the MD text.

Also, I think it would be neat to have a `make clea

[2015-04-10 16:03] PBarmby commented on #41
This is important, for sure. Let's see how we integrate it with #34 (rule 4) so they similar but not identical.

[2015-04-14 03:29] emhart commented on #41
I had the same thought, as @naupaka pointed out open != machine readable, but they are quite closely related.  Thanks for taking this one on @fmichonneau

[2015-04-15 22:19] dlebauer opened #44 "Make requires pandoc-citeproc"
[code]

[2015-04-15 22:23] snim2 commented on #44
Hi David,

This package is required for constructing the bibliography.

Do you need to install it? If so which OS are you on? Or maybe I have misunderstood your bug report?

[2015-04-15 22:30] dlebauer commented on #44
got it

[code]

[2015-04-15 22:30] #44 closed

[2015-04-17 14:12] jhollist commented on #41
Was just reading through @PBarmby PR on rule 4 and was going to suggest adding in some text on machine readable aspect, but then saw this.  I wonder if having Rule 4 and Rule 10 sequential would make sense?

[2015-04-17 14:28] fmichonneau commented on #41
It would make sense to me to have this rule follow rule 4.

I think it would also make sense for this rule to be followed by rule 6 as there will be overlap in the machine readable aspect of the data and the metadata. I'm happy to defer this decision until the rules start taking shape.

I'm planning to have an outline for this rule ready by Sunday evening.

[2015-04-21 12:55] jhollist commented on #42
@emhart Since I don't have complete ownership on any of the rules, I can take a first pass once all the draft rules have been merged.  And if I am feeling it, I can attempt an intro.

[2015-04-23 15:12] tpoisot opened #52 "Zenodo?"
Should we mention Zenodo somewhere? They offer DOI for datasets, and (being CERN-operated) have both super-duper large storage and are a grassrot initiative.

[2015-04-23 15:13] snim2 commented on #52
I mentioned it in Rule 5 if that is any help. You can see the text in PR #50

[2015-04-23 15:37] emhart commented on #52
I think it's worth it as an example of where to store your data

[2015-05-03 19:59] PBarmby commented on #42
What's the best way to comment on the assembled draft? New issues? comments on existing issues?
[Print it out, write on the paper, scan the paper, email it to everyone?]

[2015-05-04 16:06] emhart commented on #42
The latter of course :laughing: Seriously though.  My first thought is that we should comment in the issue for the particular rule if you have have general comments.  However if you want to make edits to a rule, I'd make the edits, possibly add comments in the MD as HTML comments, and then submit a PR and ping the main author.  That way the author can discuss the changes to the manuscript with the

[2015-05-04 21:04] PBarmby commented on #32
Would everyone who reads this know what "use case" means? I wonder if that terminology might be difficult for non-native speakers. But I don't have an alternative yet..

[2015-05-04 21:07] snim2 commented on #32
@PBarmby since _use case_ is a term from software engineering, perhaps it is inappropriate. Maybe something like _understand how researchers will use your data_ would be suitable?

[2015-05-04 21:11] PBarmby commented on #33
A quick search on "data product levels" suggests that it's a somewhat generic space/satellite thing (I'm familiar with it from astronomy) as well as partinent to NEON. Would be good to mention the general idea (level 0 = raw, higher levels = more processing, etc).

[2015-05-04 21:15] PBarmby commented on #35
Do we need links/references for the items in the first paragraph?
Did the "ambiguous example above" get lost?

[2015-05-04 21:16] PBarmby commented on #38
I suggest a reference to Rule 7 here (or a reference to rule 8 in rule 7) -- in some cases knowing the physical location of the cloud server is important if privacy rules differ between jurisdictions.

[2015-05-04 21:21] karawoo commented on #32
I agree, "use case" is unnecessary jargon. @snim2 I like your suggestion.

[2015-05-04 21:23] snim2 commented on #35
Yes, sorry the example got changed after feedback and I missed that. I've opened PR #55 to resolve that.

There are links to the items in the first paragraph (at least in the Markdown), unless I have misunderstood you. I wasn't sure whether websites like this should be formatted as hyperlinks, footnotes or citations, but I thought that might be something to look at over the whole document, to make

[2015-05-04 21:25] PBarmby commented on #35
Ah, OK -- I see the links in the markdown. I was just looking at the PDF where they're not so obvious.

[2015-05-04 23:42] PBarmby commented on #3
Nice webpage from USGS that covers some of the same topics [http://www.usgs.gov/datamanagement/plan/dataformats.php](http://www.usgs.gov/datamanagement/plan/dataformats.php)

[2015-05-05 01:38] tpoisot commented on #32
Good point, I'll change that. Here are a few propositions:
1. Know how the data will be used
2. Understand how people will interact with your data
3. Know your data analysis pipeline

Any other suggestions?

[2015-05-05 04:56] emhart commented on #33
It also refers to some NASA EOS data, NOAA data (http://www.ngdc.noaa.gov/wiki/index.php?title=NOAA_Processing_Levels) etc.  NEON adopted these levels to be congruous with other data products.

[2015-05-05 08:35] snim2 commented on #31
This looks nice! I'm not sure what you mean by "(i) create converters from these data". Do you mean that other people might want to have your dataset in a different format after you publish it, or that within your own workflow you will likely need to manipulate the data? Are the two things different?

[2015-05-05 08:42] snim2 commented on #32
Where you say "How do you track changes made to the data..." you might reference Rule 5 which has a discussion of how to version the release of a dataset.

[2015-05-05 09:00] snim2 commented on #33
I like the discussion of raw vs. derived data here. Where you say "We defined raw data as things like voltage" it isn't clear who "we" refers to. Also, it would be really interesting to have a bit more detail about the ATBDs, if it can fit into the word count!

[2015-05-05 09:40] snim2 commented on #38
Is there a nice reference for the Toy Story anecdote? I've seen this Quora answer:

http://www.quora.com/Did-Pixar-accidentally-delete-Toy-Story-2-during-production/

but it would be nice to have something with a DOI.

[2015-05-05 17:33] jhollist commented on #32
I like keeping it simple.  I think @tpoisot first suggestion or @snim2 suggestion would work, although some might argue we can't really know how it would/could be used.  "Use case"  does capture what we mean, but I agree that is feels jargony.   Perhaps something like:
- Understand how others might use your data

[2015-05-05 18:51] jhollist commented on #39
Wondering if we can come up with a pithy title for this rule that doesn't include the "size matters" stuff.

Some suggestions:
1. Moving data isn't free
2. The larger your data, the more you need to think about where to store it.
3. Moving data has costs

Well, those aren't very good, but ...

[2015-05-06 01:51] dlebauer commented on #39
I agree that "size matters" isn't the best for a title, but the section goes beyond just moving data, so I think the first and third suggestions are too narrow in scope. I'll think about it

[2015-05-06 14:14] PBarmby commented on #39
How about "data volume has consequences" ?

The people who worked on the Sloan Digital Sky Survey used to say that (at least, as of 10 years ago) there wasn't much that could beat the bandwidth of a FedEx truck filled with tapes or hard drives. I always find that amusing and I wonder if we can work it in somehow.

[2015-05-06 14:17] snim2 commented on #39
When I was a student we found that the bandwidth of sending a CD through the post was very favourable; these days USB sticks can hold huge volumes of data, but it's an interesting calcluation.

[2015-05-06 14:37] jhollist commented on #39
@PBarmby I like that one and like the FedEx truck/post analogies.  Maybe even bring up "sneakernet"

[2015-05-06 14:47] dlebauer commented on #39
any such citations for referencing the sneakernet or FedEx stories?
On Wed, May 6, 2015 at 9:37 AM Jeffrey W Hollister notifications@github.com
wrote:

[2015-05-06 14:54] drj11 commented on #39
"station wagon full of tapes" is Tanenbaum according to Wikipedia: https://en.wikipedia.org/wiki/Sneakernet#Non-fiction

I've probably read that text, but I can't verify the quotation now.

[2015-05-06 16:06] jhollist commented on #39
And the authoritative source, xkcd!

https://what-if.xkcd.com/31/

Also some refs in the ref section of the wikipedia article that @drj11 linked.

[2015-05-10 03:22] wcornwell commented on #35
We are trying to implement semantic versioning for living datasets in R here https://github.com/wcornwell/TaxonLookup and https://github.com/traitecoevo/baad.data

Any feedback on the approach the approach is more than welcome.

[2015-05-18 17:13] PBarmby commented on #42
I'm about to go offline for a couple of weeks; I think I've made what useful comments I can, so please don't wait for me for the next step. Thanks all!

[2015-05-18 17:15] emhart commented on #42
Thanks Pauline.  We're waiting for one last rule from Tim and then we'll
assemble the entire manuscript into a more coherent paper.

On Mon, May 18, 2015 at 10:13 AM Pauline Barmby notifications@github.com
wrote:

[2015-05-18 17:23] tpoisot commented on #42
Just out of curiosity, which rules is this? I think I submitted PR for 1 & 2, was I supposed to do a third one?

On Mon, May 18, 2015 at 10:15:58AM -0700, Edmund Hart wrote:

[2015-05-18 17:32] emhart commented on #42
It's rule 7 on privacy, which Tim Church is writing.  I've spoken with him
and he said he should have something within the next week.

On Mon, May 18, 2015 at 10:23 AM Timothée Poisot notifications@github.com
wrote:

[2015-05-18 20:11] tpoisot commented on #42
Right, so the _other_ Tim. Gotcha.

[2015-06-04 04:18] emhart commented on #37
Hi @timchurches Just wanted to check on a status update on this paragraph.  I'm going to begin to clean up the manuscript.

[2015-06-04 04:34] emhart opened #60 "Editing manuscript."
Hi Everyone.

We now more or less have a rough draft on the entire manuscript.  I'd like to begin the editing process.  Some of the rules are in various stages of completion, but at this point I think it'd be most productive if everyone feels open to edit any part of the manuscript.  If you haven't written an issue and you'd like to contribute still this is your chance.  My only thought is that we

[2015-06-04 09:04] snim2 commented on #60
+1

[2015-06-04 09:21] jhollist commented on #60
Sounds good!

[2015-06-04 10:55] naupaka commented on #60
+1

[2015-06-04 12:47] fmichonneau commented on #60
+1
 On Jun 4, 2015 6:55 AM, "Naupaka Zimmerman" notifications@github.com
wrote:

[2015-06-04 13:07] dlebauer commented on #60
Yep
On Thu, Jun 4, 2015 at 7:47 AM Francois Michonneau notifications@github.com
wrote:

[2015-06-04 14:33] tpoisot commented on #60
Sounds great.

[2015-06-04 17:19] karawoo commented on #60
Sounds good to me.

[2015-06-08 17:58] jstearns commented on #60
I'd like to read it over if that's ok.

[2015-06-22 03:51] emhart commented on #37
Taking over to draft this rule, but comments or complete rewriting welcome :smile_cat:

[2015-07-14 16:27] PBarmby commented on #39
@dlebauer do you need help with this one?  I can start on it if need be.

[2015-07-16 01:13] dlebauer commented on #39
@PBarmby sorry I forgot to flush this one out. Would be great if you want to work on this, otherwise I can work on it next week.

[2015-07-23 12:15] snim2 commented on #40
A nice introduction has been added to the manuscript, I think we can close this issue?

[2015-07-23 12:31] snim2 commented on #7
I'm aware that we are somewhat behind on the original schedule that was set out in Issue #24. I have some time available at the end of this week or the start of next, and I would be happy to go through this again. It isn't obvious to me from the Issues what still needs doing. Are we still at the review-and-suggest-edits stage or are there more specific contributions you would like people to make?

[2015-07-23 12:40] gvwilson opened #65 "Build fails"
[code]

Am I running the wrong version of pandoc?

[2015-07-23 13:17] snim2 commented on #65
I get something similar. I think the problem stems from this issue:

https://github.com/jgm/pandoc-citeproc/issues/81

[2015-07-23 13:51] snim2 commented on #65
Depressing workaround on Ubuntu (tl;dr packaged citeproc is b0rked, install from github):

[code]

[2015-07-23 13:56] jhollist commented on #40
:+1:

On Thu, Jul 23, 2015 at 8:15 AM, Sarah Mount notifications@github.com
wrote:

##

Jeff W. Hollister
email: jeff.w.hollister@gmail.com
google voice: 401 326 2531
cell: 401 556 4087

[2015-07-23 14:32] naupaka commented on #65
Works fine for me, using `pandoc 1.13.2.1` and `pandoc-citeproc 0.7.0.1`. There have been a decent amount of changes to `pandoc` recently that haven't made it into all the package managers, so I have installed from GitHub ([here](https://github.com/jgm/pandoc/releases/tag/1.15.0.6)) instead of via homebrew on OS X. Not sure if that's why?

You may also have to separately install `pandoc-siteproc`?

[2015-07-23 14:36] snim2 commented on #65
Breaks for me with `pandoc 1.15.0.6` and `pandoc-citeproc 0.4.0.1` which are default on Ubuntu 15.04. The instructions above currently install `pandoc-citeproc 0.7.2`

[2015-07-23 17:13] emhart commented on #7
@snim2 At this point most of the text is written so there's no single issue that still needs to be written.  I think all that's really needed are for people to make any edits they want, and then I'm going to post to a pre-print server before we submit.  If you want to take a pass at it and the submit a PR with edits that would be great!

[2015-07-23 17:14] gvwilson commented on #7
I'd be very happy to do an editing pass if I could get it to build on my
Mac...

[2015-07-23 17:16] #40 closed

[2015-07-23 17:25] emhart commented on #52
I think we have this covered, so I'm closing.

[2015-07-23 17:25] #52 closed

[2015-07-23 18:01] emhart commented on #65
I get an error with parsing lists on my machine with pandoc 1.15.0.6

[code]

It works fine on my laptop though, which is running pandoc 13.2.1

[2015-07-23 18:46] karawoo commented on #65
@emhart I also get that error with pandoc 1.15.0.6.

[2015-07-23 19:20] naupaka commented on #65
Hmmm. I just pulled from master and now mine is broken as well.
Versions: `pandoc 1.13.2.1` and `pandoc-citeproc 0.7.0.1`

[2015-07-23 19:29] gvwilson commented on #65
This is why we can't have nice things.

[2015-07-23 19:41] emhart commented on #65
So true...
![](http://38.media.tumblr.com/8774161d32300700ee4259696a49c330/tumblr_n7ruu5vZid1smcbm7o1_400.gif)

[2015-07-23 19:42] jhollist commented on #65
Maybe this is a sign of me using too much Twitter, but I really want to favorite these last two comments...

[2015-07-23 20:11] naupaka commented on #65
Hooray! Also fixed it for me. Thanks @karawoo

[2015-07-28 01:19] fmichonneau commented on #65
It works for me as well, so closing for now. Thanks @karawoo !

[2015-07-28 01:19] #65 closed

[2015-07-28 01:20] fmichonneau commented on #41
a draft for this rule is in the manuscript.

[2015-07-28 01:20] #41 closed

[2015-07-28 02:33] fmichonneau opened #71 "Create glossary"
After reading through the manuscript, it seems that there are a ton of acronyms/abbreviations that may not be familiar to the target audience. We could try to reduce them when possible, but I otherwise suggest we create a glossary to help readers navigate.

[2015-09-15 19:49] tpoisot opened #74 "Timeline"
Hi all,

Do we have a timeline to submit this paper?

If it helps move things forward, I can do a round of editing.

t

[2015-09-15 20:18] emhart commented on #74
Well, we did but summer seems to have gotten away from me :disappointed: , but I agree we've all put in a good deal of work, and we should see it through to submission.  I think everyone has done a great job with their rules.  If you've got the cycles @tpoisot why don't you take a pass, I'll take one more and then we'll post as a pre-print.

Let's set a goals.
- Preprint by Monday Sept. 21st
- Sub

[2015-09-15 20:22] naupaka commented on #74
I think this sounds like s good timeline.

PloS Comp Bio is not cheap:

But perhaps either someone has funds or else they would be willing to waive the fee?

[2015-09-15 20:55] fmichonneau commented on #74
:+1: on the timeline

For the APC, could it be something that the software carpentry foundation cover in part?

[2015-09-16 00:02] tpoisot commented on #74
:+1:  on the timeline. :shipit: !

I'll have a look tomorrow. That would be a welcome distraction in between grant editing and comittee meeting. :tada:

For the charges, we can ask for a waiver. Especially since there seem to be an additional charge for [collections](https://www.plos.org/publications/publication-fees/special-collection-fees/). If they disagree or don't waive it all, those of us wi

[2015-09-16 14:34] jhollist commented on #74
Wow, 3k is a lot...

So, I just ran this request up the line here and we may have some funds that could support this, but not at 3k.  If we could ask for a waiver first that would be good. Full waiver would be best, but If we get a partial waiver  then, assuming I can navigate our purchasing, I might be able to cover.  Still need to check on a few things and get a final :+1: , but odds look somewh

[2015-09-21 05:53] emhart commented on #74
Anyone have any last comments/edits to make before we post as a preprint?

[2015-09-21 06:50] naupaka commented on #74
I don't think @tpoisot (or anyone else) fixed comments by @jhollist. Those (on PR #75 ) still need to be fixed, AFAICT.

[2015-09-21 06:59] dlebauer commented on #74
I'd like to take another look. What is the target submission date?

On Monday, September 21, 2015, Naupaka Zimmerman notifications@github.com
wrote:

[2015-09-21 10:11] jhollist commented on #74
I'll read through this morning and make changes I suggested on #75 plus
anything else I find.
On Sep 21, 2015 2:59 AM, "David LeBauer" notifications@github.com wrote:

[2015-09-21 18:23] fmichonneau opened #78 "Mention Data carpentry in introduction"
Should we modify the last paragraph of the introduction to mention both Software and Data Carpentry?

[2015-09-21 18:25] fmichonneau opened #79 "Drop last paragraph of Rule 3"
I don't find the last paragraph of Rule 3 (example of how NEON handles raw data) really clear, and I'm not sure it adds value to this rule. Should we drop it? If not, I think it would need to be rewritten to be made clearer.

[2015-09-21 18:28] fmichonneau commented on #71
Any thoughts on this? I'm willing to write a first draft.

[2015-09-21 18:30] fmichonneau opened #80 "Do we need a conclusion?"
There is a section for a conclusion but nothing in it.

[2015-09-21 18:34] naupaka commented on #79
I agree. I think the rule reads better without the last paragraph. The point is well made even before the NEON, etc examples.

[2015-09-21 18:35] jhollist commented on #80
It isn't required.  Looked at 4 of them.  2 had a conclusion, 2 didn't.

My current preference is to drop to conclusion.  If reviewers want one, put it in...

[2015-09-21 18:35] naupaka commented on #78
Sure – I don't see why not...

[2015-09-21 18:36] emhart commented on #74
Great, thanks everyone... @dlebauer I think we're hoping to make the submission in a month or so.  I think at this point we just need a bit of concerted effort to cross the finish line.

[2015-09-21 18:36] naupaka commented on #80
I'm inclined to less is more as well.

[2015-09-21 18:38] jhollist commented on #79
:+1:

[2015-09-21 18:38] jhollist commented on #78
Me, too

[2015-09-21 18:40] jhollist commented on #71
I think it is a good idea.   Could be one of the most used pieces of this
paper!

On Mon, Sep 21, 2015 at 2:28 PM, Francois Michonneau <
notifications@github.com> wrote:

##

Jeff W. Hollister
email: jeff.w.hollister@gmail.com
google voice: 401 326 2531
cell: 401 556 4087

[2015-09-21 20:04] #80 closed

[2015-09-21 21:02] #78 closed

[2015-09-21 21:02] #79 closed

[2015-09-24 19:11] emhart commented on #71
:+1: on this, do you have anything to share yet, or maybe do you want  to throw up some terms in the issue?

[2015-09-25 02:31] fmichonneau commented on #71
I'll work on it this weekend.

[2015-10-16 06:23] emhart commented on #74
I took a last pass after merging the glossary changes.  I'm satisfied enough to push it up to a preprint server in the next couple days.

[2015-10-16 06:24] emhart commented on #71
Closing because the glossary was merged last week, and it's really fucking awesome.

[2015-10-16 06:24] #71 closed

[2015-10-16 06:26] emhart opened #87 "Acknowledgements"
Before I submit to a pre-print server, can folks make sure they have what they need in there?  e.g. @jhollist the EPA stuff we'll need etc...

[2015-10-16 06:26] emhart opened #88 "One preprint server to rule them all"
Does anyone have any strong feelings on this?  PeerJ or arXiv?

[2015-10-16 06:30] naupaka commented on #88
Either would be fine with me.

[2015-10-16 06:39] emhart opened #89 "A shout out to everyone."
Can I just say that I think SWC community/ Twitter / the internet is rad?  In reading through this paper two thoughts struck me.

1. This paper is pretty good right?  I enjoyed reading it and thought it was full of really useful advice.

2. Most of the authors have never met each other in real life.  Essentially nine strangers from myriad disciplines came together and wrote the aforementioned awes

[2015-10-16 09:16] jhollist commented on #87
As long as I'm not 1st, 2nd, or 3rd, I don't need to send paper through
review.  I also don't think I need to add anything to the acknowledgements,
but I'll check today.
On Oct 16, 2015 2:26 AM, "Edmund Hart" notifications@github.com wrote:

[2015-10-16 09:17] jhollist commented on #89
+100!
On Oct 16, 2015 2:39 AM, "Edmund Hart" notifications@github.com wrote:

[2015-10-16 09:19] jhollist commented on #88
No strong opinions here either.  I've used peerj before and thought it was
nice...
On Oct 16, 2015 2:30 AM, "Naupaka Zimmerman" notifications@github.com
wrote:

[2015-10-16 15:41] fmichonneau commented on #89
I agree, :clap: :clap: :clap: everyone!

Thanks @emhart for organizing this!

[2015-10-16 15:51] jhollist commented on #89
Yes, thanks @emhart.  Next scotch is on me.

[2015-10-16 17:18] tpoisot commented on #89
:clap: -- it's been a great experience, and I too think it's a pretty good resource.

[2015-10-17 04:10] dlebauer opened #90 "Thoughts of Figure 1, which I really like"
I am about to take a hack at this over the weekend. I will put in at least one more pull request right now.

Also, for figure 1 - kudos @fmichonneau . A great addition.

<img width="634" alt="screen shot 2015-10-16 at 9 32 18 pm" src="https://cloud.githubusercontent.com/assets/464871/10556616/e9cdcbb0-744d-11e5-83cd-fdc4d5d91cf1.png">

I have a few ideas that might make some key points more explic

[2015-10-17 05:27] #24 closed

[2015-10-17 05:27] #7 closed

[2015-10-17 05:27] #30 closed

[2015-10-17 05:27] #31 closed

[2015-10-17 05:27] #32 closed

[2015-10-17 05:27] #33 closed

[2015-10-17 05:27] #34 closed

[2015-10-17 05:28] #60 closed

[2015-10-17 05:51] #17 closed

[2015-10-17 05:51] #35 closed

[2015-10-17 05:51] #36 closed

[2015-10-17 05:51] #37 closed

[2015-10-17 05:51] #38 closed

[2015-10-17 05:51] #39 closed

[2015-10-17 05:51] #42 closed

[2015-10-17 06:09] emhart commented on #90
Interesting ideas @dlebauer

I definitely think it's good to label the tables as data a metadata, and in fact labeling tables is explicitly mentioned in Rule 6.

I think points i. and ii. are good, it makes metadata seem more approachable to people.  It says "You know what this is, here's a fancy name for something you do all the time"

I also like the logic of separating out `species_name` into `

[2015-10-17 06:13] emhart commented on #90
@dlebauer The only thing is that I'd like to put up a pre-print by Sunday evening if you think you can have a draft up by then.

[2015-10-17 06:17] emhart commented on #87
@snim2 @dlebauer @PBarmby  @karawoo Do you have any funding agency text you need to add to the acknowledgements?  Please paste it here and I can add it or send a PR, whichever is easier.  Thanks!

[2015-10-17 07:12] dlebauer commented on #87
I was funded by the Energy Biosciences institute and the National Center
for Supercomputing Applications

On Saturday, October 17, 2015, Edmund Hart <notifications@github.com
<javascript:_e(%7B%7D,'cvml','notifications@github.com');>> wrote:

[2015-10-17 07:18] dlebauer commented on #90
Ok I can take a whack. Suggestions for editing .eps?

On Saturday, October 17, 2015, Edmund Hart notifications@github.com wrote:

[2015-10-17 16:36] tpoisot commented on #90
I'm going to be a killjoy here, but species names are meh. Can we add things like NCBI taxid, TSN, or the like in the table?

`Alligator mississippiensis TSN 551771`, `Puma concolor TSN 55247`, and `Ursus americanus TSN 180544`

[2015-10-17 16:37] tpoisot commented on #90
(That would go in the blue table, by the way)

[2015-10-17 17:56] dlebauer commented on #90
Ted: I agree about dropping the primary / foreign key links. At the scale
of a few tables and a few fields, this is easy enough to comprehend.

Timothée - I agree that species / genus is meh and also that a unique
taxonomic identifier would be more useful, since it could be used to
reference a more canonical source for taxonomic classification. So having a
field with a unique identifier that has a

[2015-10-17 18:00] fmichonneau commented on #90
Thanks for the feedback!

I agree with Thimothée about adding taxon identifiers such as TSN in the table, that would better than using the 2 letter species codes.

With my "museum data" background, the "what, when, where" seems more like data than metadata but I totally see your point, and I think that it can be a good opportunity to illustrate these concepts.

I also like the split of genus and s

[2015-10-17 18:35] fmichonneau commented on #90
David, I hadn't seen your latest comment before posting mine.

I pushed the modified version of the figure (and the SVG file, created with inkscape) to the repo. I haven't done anything about the meta-data/data distinction at this stage. I can give it a try tomorrow (as I'm busy for the rest of the day) but if someone else wants to give it a go, please do!

[2015-10-17 20:22] PBarmby commented on #87
I was funded by the Natural Sciences & Engineering Research Council of Canada and the Academic Development Fund of the University of Western Ontario.

[2015-10-17 20:35] PBarmby commented on #88
No experience with PeerJ (plenty with arxiv). So no preference but can help with the logistics of arxiv if needed.

[2015-10-17 20:47] PBarmby opened #92 "author order"
Did we talk about this earlier? I don't recall and can't find it in the issues, but if I missed something feel free to ignore this.

As far as I know, conventions for author order are field-dependent. In my field (astronomy), author order usually reflects descending order of contribution; names are alphabetized if there's no distinction between the amount of contribution, and last author generally

[2015-10-17 22:13] naupaka commented on #92
I am fine with whatever order works for others, as long as @emhart is first. In ecology, last author is usually senior author (PI), with the rest of the order done by descending degree of contribution.

[2015-10-17 23:02] snim2 commented on #89
+1

[2015-10-17 23:03] snim2 commented on #88
I guess the question is: which server does the intended audience prefer? Personally I have no particular preference...

[2015-10-17 23:21] tpoisot commented on #92
So going by number of lines added, I get
- Hart
- Hollister
- Michonneau
- Zimmerman
- Poisot
- LeBauer
- Mount
- Barmby
- Woo
- Cornwell
- Falster
- Turner
- Wilson

[2015-10-18 00:02] jhollist commented on #92
Probably don't want me top three.  I'd have to pass the paper through
internal review prior to submission or pushing up to a pre-print server.
That could add 6 weeks (at best).
On Oct 17, 2015 7:21 PM, "Timothée Poisot" notifications@github.com wrote:

[2015-10-18 03:52] emhart commented on #92
Hi all, I reached out to @gvwilson  about authorship yesterday and asked if he wanted a spot, and he declined.
Falster, Turner and Corwell all just add their contact info to the readme, but didn't actually commit anything to the text. (e.g. https://github.com/emhart/10-simple-rules-data-storage/commits?author=stephenturner)  So they were never added to the list of authors.

So going by @tpoisot li

[2015-10-18 04:19] dlebauer commented on #92
While the idea of using an 'objective' quantification of contribution is admirable, I respectfully propose that 'lines of code' is not a meaningful metric. Here is the value of individual contributions in units of 'lines of code':

| contribution | lines of code value |
| --- | --- |
| initiate effort | 0 |
| propose rule | 0 |
| comment on issue | 0 |
| fix typo | 1 |
| add name as author | 1 |
|

[2015-10-18 04:24] dlebauer commented on #92
Also note that using 'lines of code' to rank authors would potentially require reordering after each revision. As a plus, this could be built into the makefile :8ball:

[2015-10-18 04:40] naupaka commented on #92
Seems there are probably many ways to quantify contributions, but my sense is that any is probably ok, as long as Ted is first, and Jeff is not top 3. There's also good 'ol `sample()` :game_die:

[2015-10-18 04:51] emhart commented on #92
Since there's some dispute about how best to quantify effort let's go with alphabetical order.  @dlebauer as far as @gvwilson this is the text from the beginning of the acknowledgements:

Feel free to amend that if you'd like to change the wording, but I wanted to thank Greg, all SWC instructors and reference the initial discussion thread in our manuscript.

@gvwilson It's still not too late if yo

[2015-10-18 05:01] dlebauer commented on #90
@fmichonneau I don't see the svg file ... Could you link to it?

[2015-10-18 15:06] snim2 commented on #87
No funding agency ACKs for me.

[2015-10-18 15:50] snim2 opened #96 "Should Rules 10 and 4 be reordered?"
These two rules are closely related, perhaps the flow of the paper would make more sense if they were adjacent to one another?

[2015-10-18 15:52] snim2 opened #97 "Rename Rule #1?"
Rule 1 **Know what to expect** is a little vague. Clearer titles might be something like:

  * Anticipate how your data will be used
  * Anticipate rather than react

or similar?

[2015-10-18 23:40] fmichonneau commented on #90
oops, sorry I was in a hurry yesterday and pushed to my fork instead of
upstream. It's fixed now, and the figure is in
manuscript/resources/tidy_data.svg

On Sun, Oct 18, 2015 at 1:01 AM, David LeBauer notifications@github.com
wrote:

[2015-10-19 00:26] dlebauer commented on #90
@emhart Can I have a few hours? 10 Pacific / 5 GMT?

On Sunday, October 18, 2015, Francois Michonneau notifications@github.com
wrote:

[2015-10-19 04:33] dlebauer commented on #90
@fmichonneau I've made some changes and pushed to a branch fig1-revisions. I used color to de-emphasize 'untidy' data and to emphasize the distinction between meta-data and data (though I agree with you that this is not black and white (or red and blue, below)

These are in pull request #98

<img width="692" alt="screen shot 2015-10-18 at 11 24 27 pm" src="https://cloud.githubusercontent.com/asset

[2015-10-19 04:35] dlebauer commented on #97
I agree it is vague. How about "Prepare data so that it can be reused"?

[2015-10-19 04:39] dlebauer commented on #96
Yes this makes sense, especially since the first sentence of rule 10 directly references rule 4.

(could they be combined?)

[2015-10-19 16:01] karawoo commented on #87
I should acknowledge Washington State University.

[2015-10-19 16:06] karawoo commented on #88
Either one is fine with me as well.

[2015-10-20 04:36] emhart commented on #97
Care to chime in @tpoisot ?  I believe you wrote it so I'll let you decide what you think it should be named.

[2015-10-20 05:24] emhart commented on #90
I'd like a few more folks to chime in on this, but my opinion:
1. I found @fmichonneau boxes a bit easier to read with the colors.  Also the red/blue color scheme shouldn't be used to account for color blind readers
2. I like the titles in @dlebauer figure for **Tidy Data** and **Untidy Data**
3.  I feel conflicted about the "What/ When etc.." labels.  Yes I think they are clarifying as I mentione

[2015-10-20 05:26] emhart commented on #96
I agree, I think it should go 4, then 10.

[2015-10-20 14:42] naupaka commented on #90
My 2¢:
- The Tidy/Untidy labels are useful
- The what/when/where labels could be removed -- a agree that they are a bit cluttering
- I found the visual color boxes from @fmichonneau's version more visually appealing, but I also appreciate the added point @dlebauer is making by pointing out how much of the data is really metadata, and how important this is.
  - Maybe a hybrid of the two where the d

[2015-10-20 14:51] fmichonneau commented on #90
I'll try to come up with an updated version that takes into consideration Ted and Naupaka's feedback a little later today.

[2015-10-20 15:13] naupaka commented on #90
I'm working on a new version now... I'll stick it here in the comments and if it's worth using/tweaking I can do a PR.

[2015-10-20 15:39] naupaka commented on #90
Here's my updated version (as a png to embed, although original is an svg). I also added units to the length and weight and tweaked some of the spacing.

![tables_2-01](https://cloud.githubusercontent.com/assets/1428071/10612881/a68643ca-7707-11e5-81c8-e7d1f112b07a.png)

[2015-10-20 15:59] fmichonneau commented on #90
Thanks @naupaka! It looks great to me. Please merge in the manuscript. The only thing would be to center the word "data" with respect to the weight/length columns (so the middle of the word lines up with the column separator).

[2015-10-20 16:26] naupaka commented on #90
"data" header centered and PR submitted.

[2015-10-20 16:57] emhart commented on #90
Looks great!  Thanks for the work everyone!

[2015-10-20 18:05] #92 closed

[2015-10-20 18:36] naupaka opened #102 "Typos/proofreading fixes"
Since PR #99 is still pending, don't want to open another PR until that is merged.
* Need to remove the comma after the last author's name after the title.
* Also should change the tense in second to last sentence in Figure 1 caption from "units" -> "unit"

[2015-10-20 23:13] emhart commented on #102
PR is merged now.

[2015-10-20 23:14] #96 closed

[2015-10-20 23:14] #90 closed

[2015-10-20 23:22] #87 closed

[2015-10-22 17:35] emhart commented on #102
New PR merged, typos fixed.

[2015-10-22 17:35] #102 closed

[2015-10-22 17:37] emhart commented on #97
This is the last issue before posting to PrePrint so I'm going to go ahead, if we agree on a change we can make it in the submitted version.

[2015-10-22 17:39] naupaka commented on #97
I like "Anticipate rather than react".

[2015-10-22 17:41] naupaka commented on #88
I'll add my +1 for PeerJ (although definitely not anti-arXiv by any means). Have had several very positive experiences with using PeerJ's preprint server.

[2015-10-22 18:36] emhart commented on #88
Ok, submitted to PeerJ Computer Science Preprints.

[2015-10-22 18:36] #88 closed

[2015-10-22 18:37] jhollist commented on #88
:+1:

[2015-10-22 18:53] fmichonneau commented on #88
Thanks Ted!

[2015-10-22 19:56] karawoo commented on #88
:fireworks:

[2015-10-22 20:09] tpoisot commented on #88
:arrow_right: :computer: :bar_chart: :memo: :clap: :clap: :clap:  !

[2015-10-22 20:35] naupaka opened #104 "Update README to reflect final author list and preprint link?"
Still has the original group of people. Might as well update it now that the preprint is posted?

Also perhaps worth it to add a preprint link tot he README once it is approved.

[2015-10-23 14:48] fmichonneau opened #105 "Create GitHub release for pre-print"
Maybe to do after updating the README

[2015-10-23 14:49] fmichonneau opened #106 "From PeerJ feedback: add more info about planning for cost of long term storage"

[2015-10-23 14:51] fmichonneau opened #107 "From PeerJ feedback: add definition for JSON"
I'll work on it in the next couple of days.

[2015-10-23 19:11] emhart opened #108 "From PeerJ: Changes to GBIF"
An e-mail I received about the paper from some folks at GBIF.

[2015-10-28 10:09] khinsen opened #109 "What's the opposite of "machine-readable"? (Rule 5)"
The term "machine-readable" in rule 5 isn't very clear in my opinion. Any computer file is machine readable by definition. The opposite of machine-readable would thus be data stored on printed paper, but that's not the message of rule 5.

In technical terms, the topic of rule 5 is how easy a data format is to parse. The extreme end of the spectrum is data that is impossible to parse because there

[2015-10-28 10:14] khinsen opened #110 "References for advanced treatments"
Something I wish this paper would contain is references to articles and books that treat more advanced issues in data management. Something like a "further reading" section. I do realize that this could potentially become huge, which would be counter-productive. I'd say one or two references per topic would be fine, with topic candidates being "data archiving", "data models and formats", and "data

[2015-10-28 14:47] dlebauer commented on #109
Very good points. One of the early incarnations of this rule (#12) "store data in common open format", but "easy to process by software / widely supported" are also important features

[2015-10-28 14:55] dlebauer commented on #110
think a few of these have come up. Here are a few, but these don't really cover CS textbook-level info on data:
- [DataONE_Best_Practices_Primer_020212.pdf](https://github.com/emhart/10-simple-rules-data-storage/files/22548/DataONE_Best_Practices_Primer_020212.pdf)
- [White et al 2013 Nine simple ways to make it easier to re-use your data](https://github.com/emhart/10-simple-rules-data-storage/fil

[2015-10-28 15:03] khinsen commented on #109
Common and widely supported is not the same as easy to process. An example is the PDB format for macromolecular structures, which is common and widely supported, but such a mess that processing it correctly is a huge effort. In fact, almost no software processes PDB files correctly according to the specification.

In such situations, my personal advice is to go with a simple and clear format, even

[2015-10-29 19:44] #104 closed

[2015-10-29 19:48] fmichonneau commented on #105
Release: https://github.com/emhart/10-simple-rules-data-storage/tree/v20151023-preprint

[2015-10-29 19:48] #105 closed

[2015-10-30 04:09] #107 closed

[2015-10-30 04:09] #108 closed

[2015-11-04 16:02] dlebauer commented on #106
- summary of contemporary costs for platforms mentioned in paper
- how much can be stored for free, and where?
- funding for long term storage; institutional solutions
- reliability?

References:
- [Deelman et al 2008 The cost of doing science in the cloud](https://github.com/emhart/10-simple-rules-data-storage/files/27213/deelman_sc08_corrected.pdf)
- [Beerman and Cerf 2013 Who will pay for publi

[2015-11-10 18:20] emhart opened #112 "Final submission timeline"
Hi everyone.

I think we've gotten some really good feedback about our pre-print, which has been great.  I think we can collect all these issues and try and submit.  I know once American thanksgiving rolls around timelines get really crunched so I'd love to have a submission by then.  I'll try and crank on these issues and obviously PR's are welcome.

[2015-11-10 18:24] emhart opened #113 "From Wes Turner e-mail"
via  Wes Turner - wes.turner@gmail.com

 LinkedData
* Rule 5, line 95:
  Rule 7, line 150:
   * RDF, CSVW, JSONLD
* Discoverability and URI Linked metadata (about things with types from vocabularies of things with URIs and rdfs:label@en)
* "Linked Reproducibility"
    #linked-reproducibility
  * https://wrdrd.com/docs/consulting/data-science#tensimplerules-for-reproducible-computation-research
  *

[2015-11-10 20:34] westurner commented on #113
- RDFa

[2015-11-10 20:37] westurner commented on #113
- https://schema.org/EmailMessage
- Thing > CreativeWork > https://schema.org/Dataset > https://schema.org/Datafeed (.dataFeedElement)

[2015-11-12 23:26] emhart opened #114 "Citations to add"
http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1002295
http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1004525&utm_source=digg

[2015-11-14 16:15] PBarmby commented on #114
I'll add these to the bib file; Ted do you want to figure out where they go in the text?

[2015-11-14 17:34] PBarmby commented on #110
Commit above doesn't include all of the references listed since some were already there. The Falster et al post, while very interesting, fell (IMO) a little outside of the current paper's subject, so I left it out.

[2015-11-14 17:37] PBarmby opened #116 "Thank pre-submission commenters"
Maybe this is not standard in every field but it would be in mine.
Commenters include K Hinsen (GH), Graham Pugh (PeerJ)

[2015-11-14 18:30] karawoo commented on #116
Do you mean in the acknowledgments? I'm in favor of this.

[2015-11-14 18:49] naupaka commented on #116
I am also definitely in favor of adding them to the acknowledgments.

[2015-11-14 18:56] jhollist commented on #116
:+1:

On Sat, Nov 14, 2015 at 1:50 PM, Naupaka Zimmerman <notifications@github.com

##

Jeff W. Hollister
email: jeff.w.hollister@gmail.com
google voice: 401 326 2531
cell: 401 556 4087

[2015-11-14 19:06] tpoisot commented on #116
Me three.

Kara Woo (11/14):

[2015-11-19 20:05] fmichonneau commented on #116
@PBarmby, could you please open a  PR so we can merge the changes you committed to your fork? Thanks!

[2015-11-19 20:17] fmichonneau commented on #109
I see the point that @khinsen is making here, but the term machine-readable is widely used and is not equivalent to any file stored on a computer. In my opinion, the term should be retained in the manuscript but we should improve on the definition/meaning.

[2015-11-19 23:51] PBarmby commented on #116
Already done, see #117.

[2015-11-19 23:51] #116 closed

[2016-01-18 16:58] naupaka opened #120 "Submit to PLoS Comp Bio"
Just a ping to see if we are ready to submit this officially. Are there changes that still need to be made/incorporated from the preprint feedback?

[2016-01-18 16:59] gvwilson commented on #120
:+1: from me.

[2016-01-26 19:43] emhart commented on #120
I think there are a few, then we can make the submission.  I'll take a crack tonight.

[2016-01-29 05:49] emhart commented on #109
I think @PBarmby has sufficiently addressed this issue, closing.

[2016-01-29 05:49] #109 closed

[2016-03-17 20:00] #97 closed

[2016-03-17 20:00] #114 closed

[2016-04-07 03:49] #106 closed

[2016-04-07 03:49] #110 closed

[2016-04-07 03:49] #112 closed

[2016-04-07 03:49] #113 closed

[2016-04-07 05:12] emhart commented on #120
@naupaka Submitted.  My intuition is that it will get kicked back at us because the editorial section say "invitation only", but we'll see. :metal:

[2016-04-12 00:09] fmichonneau commented on #120
Thanks for submitting @emhart ! I just checked the website and it says "under review", so we might be good :smile: We may want to submit this updated version to PeerJ Pre-prints as well.

[2016-04-12 15:57] emhart commented on #120
@fmichonneau Updated version sent to peerj, I also tagged the version for the initial submission as well as did a "release".

[2016-04-12 17:06] fmichonneau commented on #120
Awesome! Thanks

[2016-04-18 19:29] emhart commented on #120
In case folks are curious the manuscript is now under review.

[2016-04-26 16:57] fmichonneau commented on #120
while working on a different manuscript, I noticed that the latest preprint on PeerJ is tagged "awaiting revision" and hasn't been released yet. @emhart, do you know what is holding it up?

[2016-04-26 17:52] emhart commented on #120
Thanks for the notice, the feedback got put into spam by gmail.  I had to
remove the PLoS logo.  I've edited the latex template and pushed it up to a
new branch if there are anymore preprint submissions.

On Tue, Apr 26, 2016 at 9:57 AM Francois Michonneau <
notifications@github.com> wrote:

[2016-04-26 18:42] fmichonneau commented on #120
Great, thanks!

[2016-04-28 16:36] emhart commented on #120
Manuscript accepted with minor revisions so closing.

[2016-04-28 16:36] #120 closed

[2016-04-28 16:38] emhart opened #125 "Manuscript decision - minor revisions"
Below is the reply from the editor:

[2016-04-28 16:39] emhart opened #126 "Reviewer 1 Comments"
- [x] Rules 4 and 5 seem like variations on the same rule -- keeping the data accessible. It would be helpful to differentiate these rules a bit more.
- [X] Line 21: is a good advice => is good advice
- [x] Line 136: States that an example of machine readable open format that would not be easy to process include Microsoft word, but in the preceding rule (Rule 4) it states that Microsoft excel is n

[2016-04-28 16:43] emhart opened #127 "Reviewer 2 Comments"

[2016-04-28 16:45] emhart opened #128 "Reviewer 3 Comments"

[2016-04-28 16:49] emhart opened #129 "Resubmission timeline"
I'm thinking 2 weeks or less.  Does that sound reasonable?  Comments are relatively minor and I think we'll have an easy time addressing them.

[2016-04-28 16:54] emhart opened #130 "the wisdom of Wu or Cash Rules Everything Around Me (C.R.E.A.M.) or how will we pay for this?"
Hi all, so now that we've been accepted we'll need to figure out how to handle the publishing fee.  I think we have 3 options as I recall.

1. Ask for a waiver
2. Ask the SWC powers that be for the money
3. @jhollist at one point suggested he might be able to get the EPA to pay.  Not sure where we still stand on this.

![giphy 11](https://cloud.githubusercontent.com/assets/1039395/14894162/3718ce6

[2016-04-28 17:00] jhollist commented on #130
I am willing to make the ask, but we would have to subject the manuscript to internal EPA review.  That wouldn't be too bad and quite frankly could happen in parallel to review for the journal.  Even then I am not guaranteed to get a yes on this one.

I think 1 or 2 (or a combination) would be the best tact.  We can save the EPA route as a last option.

[2016-04-28 17:01] dlebauer commented on #130
Fourth is ask anyone w/ a budget for publication fees to pony up.

How much?

On Thu, Apr 28, 2016 at 11:54 AM Edmund Hart notifications@github.com
wrote:

[2016-04-28 17:07] jhollist commented on #130
It is a bit pricey. $2250

More at http://journals.plos.org/ploscompbiol/s/publication-fees

[2016-04-28 17:07] emhart commented on #130
The fee is  $2,250. I'm happy to go to Greg and Jonah if no one has any publication budget.  So I think the current order of preference is:
1. Anyone with budget steps forward to cover it
2. We ask Jonah / Greg
3. We ask for a waiver
4. Consider the EPA

[2016-04-28 17:45] #127 closed

[2016-04-28 18:43] #74 closed

[2016-04-28 18:46] emhart commented on #125
In case anyone wants to see, a screenshot from the editorial system.
![screen shot 2016-04-28 at 11 45 38 am](https://cloud.githubusercontent.com/assets/1039395/14897427/cf8a2fd2-0d36-11e6-8ee8-6583bd0234c5.png)

[2016-04-28 19:45] jhollist commented on #130
I concur!

[2016-04-28 21:41] emhart commented on #130
So...ahem...anyone have $2250?  Or should I go right to Greg?

[2016-04-28 21:48] tpoisot commented on #130
I have 99 problems but being able to spend 2250 ain't one.
I can pay part of it and would be happy to, though.
Unless we have a secret editorial board discount I don't know of...

[2016-04-29 04:24] dlebauer commented on #130
I can also pay part.
On Thu, Apr 28, 2016 at 4:48 PM Timothée Poisot notifications@github.com
wrote:

[2016-04-30 18:12] karawoo commented on #130
I don't have any funds to contribute, unfortunately.

[2016-04-30 18:21] karawoo commented on #126
Regarding the comment about rules 4 and 5, maybe we should change rule 5 to something like "Data should be structured for analysis" or similar. We could cite Vince Buffalo's quote that one should "write code for humans, write data for computers" and move the paragraph beginning "To take full advantage of data..." up to the beginning to establish this point early on.

[2016-04-30 18:38] fmichonneau commented on #126
I like your ideas @karawoo !

I think moving the paragraph starting with "To take..." at the beginning makes sense.

Initially, rule 5 was called "Data should be stored in a machine-readable format" and I think that calling it "structured for analysis" makes the intention behind this idea clear.

[2016-04-30 19:00] naupaka commented on #126
I 3rd @karawoo's idea to rename Rule 5 and move the "To take..." paragraph to the top of the section. The current first paragraph under Rule 5 could almost fit better under rule 4, as well.

I think the antecedents for that VB quote include Donald Knuth (1984) in _Literate Programming_ (italics in original)

and Martin Fowler (1999) in _Refactoring: Improving the Design of Existing Code_

[2016-04-30 21:08] dlebauer commented on #130
I need a few days to check
On Sat, Apr 30, 2016 at 1:12 PM Kara Woo <notifications@github.com> wrote:

[2016-04-30 23:41] karawoo commented on #126
Ok, since several people are on board with this I'll create a PR later
today and we can discuss it more there if needed.

On Sat, Apr 30, 2016 at 12:00 PM, Naupaka Zimmerman <
notifications@github.com> wrote:

[2016-05-01 09:08] snim2 opened #134 "Final pass for typos etc. before submission"
Since several of the reviewer comments were about typos etc. it would probably be a good idea to look over the final submission before it goes out. I'm happy to do this myself, but I think having one other person on board would also help (two heads better than one, etc.).

[2016-05-01 11:15] jhollist commented on #134
I'd be happy to take a pass at it.  Probably easiest if one of us goes
first?  I won't have time today, but can make some time tomorrow.

On Sun, May 1, 2016 at 5:08 AM, Sarah Mount notifications@github.com
wrote:

##

Jeff W. Hollister
email: jeff.w.hollister@gmail.com
google voice: 401 326 2531
cell: 401 556 4087

[2016-05-01 12:20] snim2 commented on #134
Thanks! I think there are probably a few PRs to merge first...
On 1 May 2016 12:15, "Jeffrey W Hollister" notifications@github.com wrote:

[2016-05-01 16:53] karawoo commented on #134
If we need a third set of eyes I'm happy to do this as well, but I agree we should address all the other reviewer comments first.

[2016-05-01 16:59] jhollist commented on #134
Agreed on waiting till all other PRs are in.  I was just so excited to
proof read, that I neglected to think about that!

And a third set of eyes certainly wouldn't hurt!

On Sun, May 1, 2016 at 12:53 PM, Kara Woo notifications@github.com wrote:

##

Jeff W. Hollister
email: jeff.w.hollister@gmail.com
google voice: 401 326 2531
cell: 401 556 4087

[2016-05-02 19:05] gvwilson commented on #130
Software Carpentry can kick in $500 toward this. cc @jduckles

[2016-05-02 19:10] emhart commented on #130
Great!  Thanks @gvwilson, looks like we should have no worries coming up with the fees.  Thanks everyone.

[2016-05-02 19:13] jduckles commented on #130
Just let me know at jduckles@software-carpentry.org when you need me to disburse the partial payment.

[2016-05-12 17:17] emhart commented on #134
I think all the PR's are in (it's been 11 days)  I will make one more pass and then leave it up for a few days, then write the letter for the resubmission.  So last call for any changes.

[2016-05-12 17:34] karawoo commented on #134
I don't think we addressed Reviewer 3's comments (#128) yet?

[2016-05-12 20:18] emhart commented on #134
@karawoo Nope, no one had tackled that yet so I was going to when I make another pass.

[2016-05-16 04:40] naupaka commented on #134
I am also happy to look over and proofread, but I won't be able to work on it for the next 2 weeks. After that, I'm happy to help do whatever needs done, read over a final draft, or etc.

[2016-06-01 04:10] #129 closed

[2016-06-06 17:28] naupaka commented on #134
I will do a pass to address remaining reviewer concerns and typos, etc by the end of the week, unless anyone else is currently working on changes already.

[2016-06-09 05:25] emhart commented on #126
The last of these have been taken care of with PR #137

[2016-06-09 05:25] #126 closed

[2016-06-09 06:03] emhart commented on #128
After some thought I've come down on the side that we shouldn't make any changes to this.  I'm of the opinion that very specific advice might lessen the value of the paper.  What do others think? Do folks have other ideas / thoughts about this?

[2016-06-09 12:55] jhollist commented on #128
I agree.  We can respond to the reviewer and point to the last sentence of the Intro.  And something along the lines of:

Since this paper represents the experience and views of a diverse group of authors, we have deliberately chosen to not make very specific recommendations for a given discipline.  Some of are examples are outside of the biological sciences; however, the rules we provide are very

[2016-06-09 16:39] naupaka commented on #128
I think we could add something like @jhollist's suggestion to the response to reviewers and also add in a few more things about dealing with sequence data in a few places (see my comment on #138).

[2016-06-10 05:58] naupaka commented on #134
I will do a last pass to check over things added in #138 while I'm on the plane tomorrow.

Quick Q (@emhart @PBarmby @karawoo): what's the protocol for generating the pdf from the md for the response to reviewers? pandoc locally? Didn't notice a makefile. No worries if there's no preference, just didn't want to goof something up.

[2016-06-10 06:07] emhart commented on #134
@naupaka it's pretty basic so I've just been using

`pandoc reviewer_response.md -o reviewer_response.pdf`

Didn't seem to warrant a makefile.

[2016-06-10 06:08] naupaka commented on #134
Sounds like a plan.

[2016-06-20 15:30] emhart commented on #134
@naupaka Are you still able to make a last pass?  Otherwise I can do it this week and then I'll submit.

[2016-06-20 19:09] naupaka commented on #134
@emhart yes definitely sorry for the delay. I have all my comments on a hard copy and just need to edit them in. Would it be ok to get that done by the end of the week? (I'm teaching at a workshop at NEON all week and it's a bit front loaded)

[2016-06-20 19:37] emhart commented on #134
No worries 😄   Just wanted to check in.  Yikes, teaching at NEON?? I've heard crazy things about that place 😆

[2016-06-27 17:21] naupaka commented on #134
Working on this now; should have the PR submitted today.

[2016-06-27 18:13] emhart commented on #134
Awesome, thanks @naupaka

[2016-06-28 03:30] naupaka commented on #134
Finally: just submitted PR #140. Sorry for the delay.

[2016-07-07 16:46] #128 closed

[2016-07-07 17:00] #134 closed

[2016-07-07 17:35] emhart opened #142 "Revised Submission"
All the revisions have been submitted and [I've created a release](https://github.com/emhart/10-simple-rules-data-storage/releases/tag/1.1).  Thanks all for your work on the revisions.

[2016-07-07 17:36] snim2 commented on #142
Many thanks @emhart

[2016-07-07 17:49] jhollist commented on #142
Agreed!  thanks @emhart for herding this fine group of cats!

[2016-07-12 00:10] naupaka commented on #142
So has this been resubmitted then?

[2016-07-12 14:24] emhart commented on #142
Yes

On Mon, Jul 11, 2016 at 7:10 PM Naupaka Zimmerman notifications@github.com
wrote:

[2016-08-10 00:01] emhart commented on #130
Finally got the provisional acceptance.  a few typos and then all that's left is to pay the bills.  @dlebauer @tpoisot and @jduckles I'll be in touch over e-mail to figure out how best to pay the bills.  It's been a long time coming, but it should be out soon.

[2016-08-10 01:48] naupaka commented on #130
w00t! 🎉

[2016-08-11 14:03] snim2 commented on #142
@emhart mind if I delete the merged branches? We have quite a few now!

[2016-08-11 16:28] emhart commented on #142
Sure.

On Thu, Aug 11, 2016 at 7:03 AM Sarah Mount notifications@github.com
wrote:

[2016-08-11 16:31] snim2 commented on #142
OK done! There are two branches with un-merged commits: `rule-9.2` and `preprintv2`. I'm not sure what their status is.

[2016-09-28 19:37] #142 closed

[2016-09-28 19:42] emhart opened #143 "Check proofs"
Hi All, I received this e-mail this afternoon.  They've asked for a 2 day turn around, which I know is quick, but I'd like to stick to it.  I will make the requested changes.  I think we should submit one unified document so I think this final stage is best managed by you simply replying to this issue with the change you want.  Then I will go through and make all the requested changes by you all a

[2016-09-29 04:59] naupaka commented on #143
I just went through the whole text, and don't have any other changes to make. The comments all seem helpful and quick to accept/reply to. Congrats to all; it's actually going to be a done thing!

[2016-09-29 14:56] jhollist commented on #143
I also took a quick look.  Nothing too onerous there.

WRT to the comment in the acknowledgements about me!  If we can I'd prefer to change author for me to Jeffrey W. Hollister.  Also we can switch JWH to J. Hollister to match the other names in the acknowledgments.

And this is fantastic that we all got this thing done!

So what is our next paper going to be?  :smile:

[2016-09-30 01:19] karawoo commented on #143
Looks good to me! For the broken Toy Story 2 link, I think it originally went to [this video](https://www.youtube.com/watch?v=8dhp_20j0Ys), but there are also news stories like [this one](http://thenextweb.com/media/2012/05/21/how-pixars-toy-story-2-was-deleted-twice-once-by-technology-and-again-for-its-own-good/) that might be better to use.

[2016-10-06 16:55] PBarmby commented on #143
Gah, sorry I missed this. Ted, I assume everything is good and there's nothing more for anyone to do?

[2016-10-06 17:01] emhart commented on #143
@PBarmby All good, the paper is in production with the few edits Jeff and Kara suggested.  Closing because window for edits is closed.

[2016-10-06 17:01] #143 closed

[2016-10-06 17:01] emhart commented on #125
Closing because paper is in production.

[2016-10-06 17:01] #125 closed

[2016-10-06 17:01] emhart commented on #3
Closing because paper is now in production.

[2016-10-06 17:01] #3 closed

[2016-10-06 17:02] emhart commented on #130
This has been sorted out, and paper is production, closing.

[2016-10-06 17:02] #130 closed

[2016-10-06 17:02] #89 closed